* {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
}
/* header and nevigation style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 100px;

}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}
/* all primary colors */
.text-primary {
    color: #FD6E0A;
}
.btn-primary {
    height: 40px;
    padding-right: 50px;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    font-size: 14px;
    color: #ffff;
    background-color: #FD6E0A;
}
/* banner style */
.banner {
    margin: 0 100px;
    display: flex;
    align-items: center;
}
.banner-sub-titel {
 font-size: 45px;
 font-weight: 600;

}
.banner-titel {
font-size: 65px;
font-weight: 700;
margin-bottom: 15px;
}
.banner-description {
    color: #757575;
    font-size: 18px;
    margin: 30px;

}
/* header bg style */
header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right , left;
}
/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}
/* about section style */
.about {
margin-top: 130px;
background-color: #FFF8F3;
border-radius: 10px;
padding: 130px 150px;
text-align: center;
}
.section-titel {

font-size: 1.5em;
font-weight: 700;
margin-bottom: 30px;

}
.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* container setup */
.about-info-container {
    display: flex;
    justify-content: space-around;
}
.info-titel {
    font-size: 20px;
    color: #757575;
}
.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}